body {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #3500b5, #00024c);
}

.logo {
    height: 50px;
}



.major, .row {
    width: 100vw;
    height: 100vh;
}

.left-panel {
    
    padding: 15px 0 0 15px;
}

.right-panel {
   padding: 0; 
}

.row {
    margin: 0;
}

.menu {
    right: 10px;
    position: absolute;
    top: 20px;
}